<ion-view view-title="About Us">
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="wrapping-list">
          <h3 style="color:black;"><b>University of Rochester</b></h3><br>
        At the University of Rochester, we understand entrepreneurship to mean generating and transforming
        ideas into enterprises that create value—economic or social. More than a discrete set of business
        skills or practices, entrepreneurship is a calling that can be pursued in many realms of experience
        and achievement.
        <br><br>
        Launched by a grant from the Ewing Marion Kauffman Foundation and named in recognition of
        Mark S. Ain ’67S (MBA) and his wife Carolyn for their visionary leadership and support of entrepreneurship
        education throughout the University, the Ain Center for Entrepreneurship offers programs, events and
        services university-wide for students of all disciplines, faculty, staff, alumni and the greater
        Rochester community.
      </ion-item>
      <ion-item class="wrapping-list">
          <h3 style="color:black;"><b>Rochester Institue of Technology</b></h3><br>
        At the heart of entrepreneurship initiatives at the Rochester Institute of Technology,
        the Albert J. Simone Center for Student Innovation and Entrepreneurship promotes, nurtures and expands
        innovation and entrepreneurship activities. By supporting academic programs, hosting competitions and
        providing commercial activities, the Center integrates academic initiatives with applied business creation
        and commercialization experience.
        <br><br>
        The Center’s resources and faculty expertise are open to all students, regardless of discipline and year level.
        Through a three-pronged approach, which includes interdisciplinary curriculum, experiential learning and
        various programming, students are shown how to take an idea from the beginning stages all the way through
        to commercialization.
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

