<ion-view view-title="Home">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="back bar-light" style="text-align: center;">
          <br><br><br>
            <h1>2016 GCEC</h1>
            <h2>CONFERENCE</h2>
            <hr width="250px"/>
            <h3> TURNING OVER A NEW LEAF </h3>
            <h4> SEPTEMBER 29 - OCTOBER 1,2016</h4>
            <h4>ROCHESTER, NEW YORK </h4>
        </div>
      </ion-item>
      <ion-item class="wrapping-list" style="color: black;font-size: 16px;">
          Welcome to the Global Consortium of Entrepreneurship Centers (GCEC) Conference hosted by<b>
        <a><span style="font-size: 14px;" ng-click="openinbrowser('https://www.rochester.edu')"> University of Rochester
        </span></a></b> and <b><a><span style="font-size: 14px;" ng-click="openinbrowser('https://www.rit.edu')">Rochester
        Institute of Technology</span></a></b>.
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
