<ion-view view-title="My Schedule">
  <ion-content class="content-below">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div ng-repeat="list in AgendaList">
      <ion-item class="item-divider">
        {{list.day}}
      </ion-item>
      <ion-list>
        <ion-item class="wrapping-list" ng-repeat="agenda in list.agenda" href="#/app/myschedule/{{agenda.id}}" >
          {{agenda.session_time | dformat}} - {{agenda.title}}
        <ion-option-button class="button-positive" ng-click="del(agenda.id)">Delete</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
