<ion-view view-title="{{AgendaItem.title}}">
  <ion-nav-buttons side="right">
    <a class="button bar-balanced" ng-click="returnHome()">Home
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
    <ion-item>Date: {{(AgendaItem.session_date +86400) *1000 | date:'MM-dd-yyyy'}}</ion-item>
    <ion-item>Start Time: {{AgendaItem.session_time| dformat}}</ion-item>
    <ion-item>End Time: {{AgendaItem.session_end_time | dformat}}</ion-item>
    <ion-item class="wrapping-list"> Location: {{AgendaItem.location}}</ion-item>
    <div ng-show=spkcheck>
      <div class="item item-divider">
        Speakers for the session
      </div>
      <ion-item ng-repeat="speaker in AgendaItem.speakerlist" href="#/app/speakers/{{speaker.id}}">
        {{speaker.title}}
      </ion-item>
    </div>
    <ion-item class="wrapping-list">
      Content: <span ng-bind-html="AgendaItem.content">
              </span>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
