<ion-view view-title="Speakers">
  <ion-content  q>
    <ion-toggle toggle-class="toggle-calm" ng-click="toggleCustom()">Switch To University View</ion-toggle>
    <div ng-show="booleanspeaker" ng-repeat="speakcat in sortedspeaker">
      <ion-item class="item-divider wrapping-list" >
        {{speakcat.category}}
      </ion-item>
      <ion-list>
        <ion-item class="wrapping-list" ng-repeat="speaker in speakcat.speaklist track by $index" href="#/app/speakers/{{speaker.speakerdata.id}}" >
          {{speaker.lname}} {{speaker.fname}}
        </ion-item>
      </ion-list>
    </div>

    <!--<ion-list ng-show="booleanspeaker">-->
      <!--<ion-item ng-repeat="speaker in sortedspeaker" type="item-text-wrap" href="#/app/speakers/{{speaker.speakerdata.id}}">-->
        <!--{{speaker.lname}} {{speaker.fname}}-->
    <!--</ion-list>-->

    <div ng-hide="booleanspeaker" ng-repeat="speakers in universitySpeaker">
      <ion-item class="item-divider wrapping-list" >
        {{speakers.university}}
      </ion-item>
      <ion-list>
        <ion-item class="wrapping-list" ng-repeat="speaker in speakers.speakerdata track by $index" href="#/app/speakers/{{speaker.speakerdata.id}}" >
          {{speaker.lname}} {{speaker.fname}}
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>


<!--<div ng-controller="AppCtrl">-->
  <!--<button ng-click="toggleCustom()">Custom</button>-->
  <!--<span ng-hide="custom">From:-->
            <!--<input type="text" id="from" />-->
        <!--</span>-->
  <!--<span ng-hide="custom">To:-->
            <!--<input type="text" id="to" />-->
        <!--</span>-->
  <!--<span ng-show="custom"></span>-->
<!--</div>-->
